[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn app.main:app --reload"
init_db = "python -m scripts.create_db"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
python-multipart = "*"
dominate = "*"
mypy = "*"
jinja2 = "*"
jinja2-fragments = "*"

[dev-packages]

[requires]
python_version = "3.12"
